.search{
    position: relative;
    width: 100%;
    height: 50px;
    background: #f6f6f6;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
}
.search div {
    width : 100%;
}
.search div input {
    width: 100%;
    outline: none;
    border: none;
    background: #fff;
    padding: 6px;
    height: 30px;
    border-radius: 30px;
    font-size: 10px;
    padding-left: 40px;
}
.search div input ::placeholder{
    color: #bbb;
}
.cityList {
    position: relative;
    height: calc(100% - 50px);
}